{% extends 'index.html' %}

{% block title%}Add Post{% endblock %}

{% block content %}
      <div class="row">
          <div class="col-md-4 offset-md-4">
              <br>
              <h1>Add Post</h1>
              <form action="/addPost" method="post">
                  <div class="form-group">
                      <label for="title">Title</label>
                      <input type="text" name="title" id="title" class="form-control">
                  </div>

                  <div class="form-group">
                      <label for="body">Body</label>
                      <input type="text" name="body" id="body" class="form-control">
                  </div>

                  <input type="submit" class="form-control col-md-4" value="Add Post">
              </form>
          </div>
      </div>
      <br>
{% endblock %}
